{% extends 'base.html' %} 
{% block content %}

<h1>Incomes for {{ budget.budget_name }}</h1>

<!-- Add a button that redirects to the create_income view -->
<a href="{% url 'create_income' budget.id %}" class="btn btn-primary">Add New Income</a>

<ul>
{% for income in incomes %}
    <li>{{ income.name }}: ${{ income.amount }}</li>
{% endfor %}
</ul>

<!-- Display the count of incomes and the total income amount -->
<p><strong>Total Incomes:</strong> {{ total_income }}</p>
<p><strong>Total Income Amount:</strong> ${{ total_income }}</p>


<script>
  // Bootstrap validation script
  (function () {
    "use strict";
    var forms = document.querySelectorAll(".needs-validation");

    Array.from(forms).forEach(function (form) {
      form.addEventListener(
        "submit",
        function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add("was-validated");
        },
        false
      );
    });
  })();
</script>
{% endblock %}
