{% extends 'base.html' %} {% load bootstrap4 %} {% block content %}

<div class="container mt-5">
  <div class="row justify-content-center animate__animated animate__fadeInUp">
    <div class="col-md-6">
      <div class="card border-0 shadow-lg">
        <div class="card-body gradient-bg text-white">
          <h1 class="card-title">Log In</h1>

          <form
            class="login-form mt-3"
            action="{% url 'login' %}"
            method="POST"
          >
            {% csrf_token %} {% bootstrap_form form %}
            <input type="hidden" name="next" value="{{ next }}" />
            <button type="submit" class="btn btn-light btn-hover-effect">
              Log In
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
