{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container mt-5">
  <div class="text-center mb-5 animate__animated animate__zoomIn">
    <h3 class="display-4">Add Expense</h3>
  </div>

  <div class="card shadow-lg animate__animated animate__fadeIn">
    <div class="card-body">
      <form method="POST" action="{% url 'create_expense' budget.id %}" class="needs-validation" novalidate>
        {% csrf_token %}

        <div class="mb-3">
          <label for="item_name" class="form-label">Item/Bill Name</label>
          <input type="text" class="form-control" id="item_name" name="item_name" placeholder="Item/Bill Name" required>
          <div class="invalid-feedback">
            Please enter an item/bill name.
          </div>
        </div>

        <div class="mb-3">
          <label for="item_cost" class="form-label">Item/Bill Cost</label>
          <input type="number" step="0.01" class="form-control" id="item_cost" name="item_cost" placeholder="$0.00" required>
          <div class="invalid-feedback">
            Please enter the cost of the item/bill.
          </div>
        </div>

        <div class="mb-3">
          <label for="item_category" class="form-label">Item Category</label>
          <select class="form-control" id="item_category" name="item_category" required>
            <option value="🏠">Housing 🏠</option>
            <option value="🏥">Medical 🏥</option>
            <option value="🛒">Groceries 🛒</option>
            <option value="🚙">Car 🚙</option>
          </select>
          <div class="invalid-feedback">
            Please select a category.
          </div>
        </div>

        <div class="mb-3">
          <label for="purchase_date" class="form-label">Purchase Date</label>
          <input type="date" class="form-control" id="purchase_date" name="purchase_date" required>
          <div class="invalid-feedback">
            Please select a purchase date.
          </div>
        </div>

        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  // Bootstrap validation script
  (function () {
    'use strict'
    var forms = document.querySelectorAll('.needs-validation')

    Array.from(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }
          form.classList.add('was-validated')
        }, false)
      })
  })()
</script>

{% endblock %}
