{% extends 'base.html' %} {% block content %}

<div class="container my-5">
  <div
    class="card border-0 shadow-lg animate__animated animate__zoomIn layered-card"
  >
    <div class="card-header gradient-bg text-white text-center">
      <h1 class="display-4 animate__animated animate__fadeInDown">
        About Budget Manager
      </h1>
      <small
        class="text-light animate__animated animate__pulse animate__infinite animate__slower"
        >Track and Organize Your Finances</small
      >
    </div>
    <div class="card-body bg-light animate__animated animate__fadeInUp">
      <p class="text-justify lead">
        <span class="fw-bold">Budget Manager</span> is a platform for managing
        personal finance. It provides an intuitive interface, allowing users to
        effortlessly track their budget, manage expenses, and gain insights into
        their savings and spending patterns.
      </p>
      <hr />
      <div class="text-center">
        {% if user.is_authenticated %}
        <a
          href="{% url 'index' %}"
          class="btn btn-primary btn-hover-effect animate__animated animate__bounce"
          >Create A Budgets</a
        >
        {% else %}
        <a
          href="{% url 'signup' %}"
          class="btn btn-primary btn-hover-effect animate__animated animate__bounce"
          >Get Started</a
        >
        {% endif %}
      </div>
    </div>
    <div class="card-footer bg-light text-center">
      <small class="text-muted animate__animated animate__fadeIn">
        <i class="fas fa-copyright"></i> 2023 Budget Manager
      </small>
    </div>
  </div>
</div>

{% endblock %}
