{% extends 'base.html' %} 
{% block content %}

<div class="container mt-5">
  <div class="jumbotron p-4 p-md-5 text-white rounded jumbotron-bg animate__animated animate__fadeIn">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Welcome to Budget Manager</h1>
      <p class="lead my-3">
        Manage your financial journey with ease and clarity.
      </p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="card mb-4 shadow-sm animate__animated animate__slideInUp" style="animation-delay: 0.2s">
        <div class="card-body">
          <h5 class="card-title">
            <i class="fas fa-wallet fa-lg mr-2"></i> Budget Overview
          </h5>
          <p class="card-text">
            Review your entire budget at a glance and monitor your financial health.
          </p>
          
          {% if user.is_authenticated %}
            <a href="{% url 'index' %}" class="btn btn-outline-primary">Explore</a>
          {% else %}
            <a href="{% url 'signup' %}" class="btn btn-outline-primary">Explore</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="floating-icons">
    <!-- Use appropriate images/icons and styles here -->
  </div>
</div>

{% endblock %}
