{% extends 'budgets/base.html' %} 
{% block content %}

<div class="container my-4"> <!-- container class for responsive layout and my-4 for margin top and bottom -->
  <div class="card"> <!-- card class for a card-like design -->
    <div class="card-header"> <!-- card-header for the header part of the card -->
      <h1 class="text-center">About Budget Manager</h1> <!-- text-center to center the text -->
    </div>
    <div class="card-body"> <!-- card-body for the body part of the card -->
      <p class="text-justify"> <!-- text-justify to justify the text -->
        Budget Manager is a platform for managing personal finance. It provides
        an easy-to-use interface for users to track and organize their budget,
        manage expenses, and keep an eye on their savings and spending habits.
      </p>
    </div>
     <div class="card-footer text-center"> <!-- card-footer for the footer part of the card, and text-center to center the text -->
      All Rights Reserved, &copy; 2023 Budget Manager
    </div>
  </div>
</div>

{% endblock %}
