{% extends 'budgets/base.html' %} {% block content %}

<div class="container mt-4">
  <h3>Add Expense</h3>
  <form method="POST" action="{% url 'create_expense' budget.id %}">
    {% csrf_token %}
    <div class="mb-3">
      <label for="item_name" class="form-label">Item/Bill Name</label>
      <input
        type="text"
        class="form-control"
        id="item_name"
        name="item_name"
        placeholder="Item/Bill Name"
        required
      />
    </div>
    <div class="mb-3">
      <label for="item_cost" class="form-label">Item/Bill Cost</label>
      <input
        type="number"
        step="0.01"
        class="form-control"
        id="item_cost"
        name="item_cost"
        placeholder="$0.00"
        required
      />
    </div>
    <div class="mb-3">
      <label for="item_category" class="form-label">Item Category</label>
      <select
        class="form-control"
        id="item_category"
        name="item_category"
        required
      >
        <option value="HO">Housing 🏠</option>
        <option value="ME">Medical 🏥</option>
        <option value="GR">Groceries 🛒</option>
        <option value="CA">Car 🚙</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="purchase_date" class="form-label">Purchase Date</label>
      <input
        type="date"
        class="form-control"
        id="purchase_date"
        name="purchase_date"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>
{% endblock %}