{% extends 'base.html' %} {% block content %}
<div class="container mt-4">
  <h2>Edit Budget</h2>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="name">Budget Name:</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        value="{{ budget.budget_name }}"
        required
      />
    </div>
    <div class="form-group">
      <label for="amount">Budget Amount:</label>
      <input
        type="text"
        class="form-control"
        id="amount"
        name="amount"
        value="{{ budget.budget_amount }}"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>
  <a href="{% url 'detail' budget.id %}" class="btn btn-secondary mt-3"
    >Cancel</a
  >
</div>
{% endblock %}
