{% extends 'budgets/base.html' %} {% block content %}
<div class="container d-flex justify-content-center">
  <div>
    <h1 class="text-center">Budget Manager</h1>

    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Welcome to Budget Manager!</h5>
            <p class="card-text">
              Budget Manager is a platform for managing your personal budget and
              financial information. Use the navigation menu above to get
              started.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
