{% extends 'budgets/base.html' %} {% block content %}

<h1>Budgets</h1>

<div class="budget-list">
  {% for budget in user_budgets %}
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">
         <a href="{% url 'expense_list' budget.id %}">{{ budget.budget_name }}</a>
      </h5>
      <p class="card-text">Income Amount: ${{ budget.budget_amount }}</p>

      <!-- Detail Button -->
      <a href="{% url 'budget_detail' budget.id %}" class="btn btn-primary mr-2"
        >Details</a
      >

      <!-- Delete Button - Using a form to make it a POST request -->
      <form
        action="{% url 'delete_budget' budget.id %}"
        method="post"
        class="d-inline-block"
      >
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>
  {% endfor %}
  <div class="mt-3">
    <a href="{% url 'create_budget' %}" class="btn btn-success"
      >Add New Budget</a
    >
  </div>
</div>
{% endblock %}
